/* @media(max-width:500px){
    .grid{
       display: flex !important;
       flex-wrap: wrap !important;
    }
} */

.jwel-container{
    min-height: 100vh;
}
.jwel-main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}